# COMMUNITY PROJECT GITIGNORE #

# Ignore OS files #
# =============== #
.DS_Store
.DS_Store?
._*
.Spotlight-V100
.Trashes
ehthumbs.db
*[Tt]humbs.db
*.Trashes

# Ignore logs and databases #
# ========================= #
*.log
*.sql
error_log
access_log

# Ignore everything in "wp-content" except the "plugins" and "themes" directories. #
# ================================================================================ #
/*
!.gitignore
!plugins/
!themes/
!README.md
!*.txt
# Ignore everything in "plugins" except certain plugins. #
# ========================================================== #
plugins/*
!plugins/knives-forks-functionality/

# Ignore everything in "themes" except the active theme. #
# ====================================================== #
themes/*
!themes/knives-forks-theme

# Ignore npm packages #
# =================== #
themes/knives-forks-theme/node_modules/*

# Ignore build files #
# ================== #
themes/knives-forks-theme/gulpfile.js
themes/knives-forks-theme/build/*

#gulpfile.#