///styles for the contact page////

.contact-form-container {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.entry-header-contact {
  //   width: 50%;
}

.contact-page-info {
  border-top: 1px solid black;
}

.media-enquiries {
  h3 {
    border-top: 1px solid black;
  }
  p {
    border-bottom: 1px solid black;
  }
}
