///styles for the contact page////

.contact-form-container {
  display: flex;
  justify-content: space-between;
  width: 1440px;
  height: 754px;
  flex-direction: row;
}

.entry-header-contact {
  //   width: 50%;
}

.contact-page-info {
  border-top: 1px solid black;
  border-bottom: 1px solid black;
}
