.page-apply-to-pitch,
.page-become-investor {
  .main-navigation {
    box-shadow: none;
    border-bottom: 1px solid black;
  }
  .site-content {
    margin-top: 0;
  }
}
.gform_wrapper form {
  display: flex;
  //margin-top: 200px;
  flex-direction: column;
  @include tablet {
    flex-direction: row;
  }
  @include desktop {
    flex-direction: row;
  }
  .gf_page_steps {
    padding-top: 72px;
    display: flex;
    border: none;
    width: 80%;
    margin: auto;
    margin-bottom: 30px;

    @include tablet {
      flex-direction: column;
      border-right: 1px solid black;
      width: 33%;
      margin: 0;
      &.sticky {
        position: fixed;
        top: 48px;
        height: 100vw;
      }
    }
    @include desktop {
      flex-direction: column;
      border-right: 1px solid black;
      width: 33%;
      margin: 0;
      top: 0;
      &.sticky {
        position: fixed;
        top: 48px;
        height: 100vw;
      }
    }
    .gf_step {
      margin: auto;
      display: flex;
      //justify-content: space-around;
      height: 12px;
      width: 12px;
      opacity: 1;
      background-color: white;
      border-radius: 10px;

      border: 2px solid $primary_green_dark;
      color: rgba(0, 0, 0, 0);

      @include tablet {
        display: flex;
        opacity: 1;
        filter: none;
        color: $primary_green_dark;
        font-size: $fontsize;
        font-family: $parafont;
        height: 30px;
        margin: $margin;
        width: auto;
        border: none;
        //text-align: right;
      }
      @include desktop {
        display: flex;
        opacity: 1;
        filter: none;
        color: $primary_green_dark;
        font-size: $fontsize;
        font-family: $parafont;
        height: 30px;
        margin: $margin;
        width: auto;
        border: none;
      }
      .gf_step_number {
        display: none;
      }
    }

    .gf_step_active {
      background-color: $primary_green_dark;
      height: 12px;
      width: 12px;
      border-radius: 10px;
      @include tablet {
        color: white;
        height: auto;
        background-color: $primary_green_dark;
        width: auto;
        border-radius: 5px;
        padding-top: 3px;
      }

      @include desktop {
        color: white;
        height: 30px;
        background-color: $primary_green_dark;
        width: auto;
        border-radius: 5px;
        padding-top: 3px;
      }
    }
  }
  .gform_body {
    @include tablet {
      margin-left: auto;
      width: 66%;
    }
    @include desktop {
      padding: 10px;
      width: 66%;
      margin-left: auto;
    }
  }
  .gform_page {
    margin-top: 2rem;
    padding: 0 7%;
    display: flex;
    flex-direction: column;
    //justify-items: center;

    .gform_fields {
      display: flex;
      flex-direction: column;
      textarea {
        border-radius: 5px;
      }
      @include desktop {
      }
    }
  }
  .icon-default::before {
    background-image: url('../../assets/icons/Forms - Unfilled/unfilled-name.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 200px;
    height: 200px;
    content: 'abc';
    font-size: 10rem;
    color: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    @include tablet {
      width: 60%;
    }
    @include desktop {
      height: 200px;
      width: 33%;
      display: block;
      position: relative;
      top: 0px;
      //left: 200px;
    }
  }
  .icon-complete::before {
    background-image: url('../../assets/icons/Forms - filled/filled-name.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 33%;
    height: 200px;
    content: 'abc';
    font-size: 10rem;
    color: rgba(0, 0, 0, 0);
    display: block;
    position: relative;
    top: 0px;
    left: 200px;
    &:nth-of-type(2) {
      background-image: url('../../assets/icons/Forms - filled/filled-email.svg');
    }
  }

  //use nth-of-type()
  .validation_error {
    display: none;
  }
}

//gform confirmation message

.gform_confirmation_message {
  .thank-you-icon {
  }
  width: 80%;
  text-align: center;
  margin: auto;
}
