@include mobile {
}
@include desktop {
  //************How it Works CONTENTS AREA
  .article-content {
    padding-bottom: 5%;
  }
  .entry-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    nav {
      width: 60%;
    }
    .how-icons {
      right: 0;
      top: 13%;
      width: auto;
      height: 24vmax;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
    }
    .entry-title {
      font-size: 2.7rem;
    }
    .entry-description {
      font-size: $fontsize;
    }
    p {
      line-height: 1.5;
      text-align: justify;
    }
  }
  .entry-content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 10%;
    nav {
      width: 60%;
      padding: 2% 0;
      text-align: center;

      .btn {
        margin: 0 1%;
        width: 30%;
        position: relative;
        display: inline-flex;
        justify-content: center;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 5%;
        text-align: left;
        width: 100%;
        li {
          flex: 1 0 50%;
          h3 {
            font-family: $parafont;
            font-size: $title_md;
            color: $orangecolor;
          }
        }
      }
    }
    .how-img {
      width: 100%;
      height: auto;
      left: 0;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      top: calc(124rem - 100%);
      z-index: -1;
    }
  }
  //************styles for TESTimonials
  .testimonials {
    padding: 0 10% 5% 10%;
    margin: 0 auto;
    position: relative;
    background: url('../../assets/background-images/contact-bg@3x.png');
    background-size: cover;
    background-position: bottom right;
    .site-title {
      font-family: $headfont;
      color: hsla(0, 0%, 0%, 0.15);
      font-size: calc(9rem - 100%);
      transform: translateX(-11%);
    }
    nav {
      background: hsla(112, 18%, 41%, 0.75);
      color: white;
      border-radius: 1.5em;
      text-align: center;
      padding: 2%;
      width: fit-content;
      margin: 0 auto;
      img {
        position: relative;
        top: 0;
        transform: translateY(-50%);
      }
      p {
        font-family: $parafont;
        font-size: $title_sm;
        width: 80%;
        margin: 0 auto;
        line-height: 1.5;
        transform: translateY(-2em);
      }
      .member-name {
        font-family: $headfont;
        font-size: $title_md;
        font-weight: 600;
        text-align: right;
      }
      .member-since {
        font-family: $parafont;
        font-size: $content_md;
        text-align: right;
      }
    }
  }
}
