@include mobile {
  //************How it Works CONTENTS AREA
  .testimonials .carousel-cell {
    padding: 0 2%;
    p {
      font-size: 1.2rem;
    }
  }
  .banner .banner-img {
    width: 100%;
    height: 100vmax;
    // overflow: hidden;
    position: relative;
    // border: 1px dotted red;
  }
  .banner img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    object-position: right;
    position: absolute;
    // transform: translateX(-26em);
  }
  .banner .banner-content {
    width: 80%;
    // top: calc(80rem - 100%);
    h2 {
      font-size: 1.25rem;
    }
  }
  .how-icons {
    display: none;
  }
  .site-main {
    padding: 0;
  }
  article {
    line-height: 1.5;
    .how-icons {
      display: block;
      width: 80%;
      height: auto;
      margin: 5% auto;
    }
    .entry-title {
      font-size: 2rem;
    }
    .entry-description {
      font-size: 1.2rem;
    }
    p {
      font-size: 1rem;
      text-align: justify;
    }
    .how-count {
      font-size: 4rem;
      color: $secondary_orange_med;
      margin: 0;
    }
    .how-title {
      font-size: 1.2rem;
    }
    .entry-content {
      .how-img {
        width: 100%;
        height: 15em;
        position: absolute;
        z-index: -1;
        transform: translateY(-27%);
        left: 0;
      }
      ul {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        align-content: center;
        padding-bottom: 66%;
        li {
          .how-btn {
            display: block;
            width: 90%;
            margin: 5% auto;
            text-align: center;
            text-transform: uppercase;
            font-size: 0.8rem;
            word-spacing: 0.3em;
            font-weight: 400;
            background: $primary_green_light;
          }
        }
      }
    }
  }

  .knives-fork {
    display: none;
  }

  //**********Testimonials Area
  .testimonials {
    margin-top: 5%;

    nav {
      padding: 0 5%;
    }
    .flickity-button {
      display: none;
    }
    .profile-pic {
      height: 9em;
      width: 9em;
      position: relative;
      transform: translateY(-40%);
    }
    p {
      transform: translateY(-10%);
      font-size: 1.5rem;
    }
    .member-name {
      font-size: 1.2rem;
      text-align: right;
    }
    .member-since {
      font-size: 1.2rem;
      text-align: right;
      transform: translateY(-80%);
    }
  }
}
@include tablet {
  .article-content {
    padding: 0;

    .entry-header {
      padding: 0 5%;
    }
    .how-count {
      color: $secondary_orange_dark;
    }
    .how-img {
      width: 100%;
      margin-top: 5%;
    }
  }
  .entry-content {
    nav {
      padding: 0 5%;
    }
    .how-icons {
      display: none;
    }
  }

  .testimonials {
    width: 90%;
    margin: 0 auto;
    padding-top: 5%;

    .knives-fork {
      display: none;
    }
    .carousel-cell {
      padding: 0 10%;
    }
    .profile-pic {
      transform: translateY(-40%);
      margin-bottom: 1em;
    }
    p {
      transform: translateY(-40%);
      line-height: 1.5;
    }
    .member-name,
    .member-since {
      text-align: right;
    }
    .member-name {
      font-weight: bold;
    }
    .member-since {
      transform: translateY(-2em);
    }
  }
}
@include desktop {
  //************How it Works CONTENTS AREA
  .article-content {
    // padding-bottom: 5%;
    overflow: hidden;
    position: relative;
    .how-icons {
      right: 0;
      top: 13%;
      width: auto;
      height: 15vw;
      -o-object-fit: cover;
      object-fit: cover;
      position: absolute;
      background: white;
      border-radius: 2em;
      display: none;
    }
  }
  .entry-header {
    width: 80%;
    margin: 0 auto;
    display: flex;
    flex-flow: row nowrap;
    position: relative;
    padding-bottom: 5vh;

    nav {
      width: 60%;
    }

    .entry-title {
      font-size: 2.7rem;
    }
    .entry-description {
      font-size: $fontsize;
    }
    p {
      line-height: 1.5;
      text-align: justify;
    }
  }
  .entry-content {
    width: 80%;
    margin: 0 auto;
    padding-bottom: 5%;
    nav {
      width: 60%;
      padding: 2% 0;
      text-align: center;

      .btn {
        margin: 0 1%;
        width: fit-content;
        position: relative;
        display: inline-flex;
        justify-content: center;
      }
      ul {
        display: flex;
        flex-flow: row wrap;
        margin-bottom: 5%;
        text-align: left;
        width: 100%;
        li {
          flex: 1 0 50%;
          h3 {
            font-family: $parafont;
            font-size: $title_md;
            color: $secondary_orange_dark;
          }
        }
      }
    }

    .how-img {
      width: 100%;
      height: auto;
      left: 0;
      position: absolute;
      // top: calc(124rem - 100%);
      z-index: -1;
      bottom: calc((63rem - 100%) - 1vmax);
    }
  }
  //************styles for TESTimonials
  .testimonials {
    padding: 0 10% 5% 10%;
    position: relative;
    // background: url('../../assets/background-images/contact-bg@3x.png');
    // background-size: cover;
    // background-position: bottom right;
    overflow: hidden;
    width: 100%;
    .site-title {
      font-family: $headfont;
      color: hsla(0, 0%, 0%, 0.15);
      font-size: calc(9rem - 100%);
      transform: translateX(-11%);
      margin: 0;
    }
    nav {
      // background: hsla(112, 18%, 41%, 0.75);
      // color: white;
      // border-radius: 1.5em;
      // text-align: center;
      padding: 2%;
      width: fit-content;
      margin: 0 auto;
      height: auto;
      img {
        position: relative;
        top: 0;
        transform: translateY(-50%);
      }
      p {
        font-family: $parafont;
        font-size: $title_sm;
        width: 80%;
        margin: 0 auto;
        line-height: 1.5;
        transform: translateY(-3em);
        text-align: justify;
      }
      .member-name {
        font-family: $headfont;
        font-size: $title_md;
        font-weight: 600;
        text-align: right;
        transform: translateY(-2em);
      }
      .member-since {
        font-family: $parafont;
        font-size: $content_md;
        text-align: right;
      }
    }
  } //****************END of HOW it WORKS PAGE
}
