.page-how-it-works {
  article {
    .how-count {
      font-family: $headfont;
      color: $secondary_orange_med;
    }
    .how-title {
      margin-top: -5px;
    }
    .entry-description {
      color: $primary_green_med;
    }
  }
  @include mobile {
    //************How it Works CONTENTS AREA
    .testimonials .carousel-cell {
      padding: 0 2%;
      p {
        font-size: 1.2rem;
      }
    }
    .banner .banner-img {
      width: 100%;
      height: 95vmax;
      position: relative;
    }
    .banner-image img {
      object-fit: cover;
      height: 100%;
      width: auto;
      position: absolute;
      object-position: right;
      right: -60%;
    }
    .banner .banner-content {
      width: 80%;
      h2 {
        font-size: 1.25rem;
      }
    }
    .how-description {
      font-size: $fontsize;
    }
    .how-icons {
      display: none;
    }
    .how-img {
      width: 100%;
      object-fit: contain;
    }
    .site-main {
      padding: 0;
    }
    article {
      line-height: 1.5;
      .how-icons {
        display: block;
        width: 80%;
        height: auto;
        margin: 5% auto;
      }
      .entry-header {
        @include mobile {
          width: 100%;
          padding: 0 5% 10% 5%;
          margin: 0 auto;
          p {
            font-size: $fontsize;
          }
        }
      }
      .banner .banner-img {
        width: 100%;
        height: 100vmax;
        position: relative;
      }
      .banner-image img {
        object-fit: cover;
        height: 100%;
        width: 100%;
        position: absolute;
      }
      .banner .banner-content {
        width: 80%;
        h2 {
          font-size: 1.25rem;
        }
      }
      .how-count {
        font-size: 4rem;
        margin: 0;
      }
      .site-main {
        padding: 0;
      }
      article {
        line-height: 1.5;
        .how-icons {
          display: block;
          width: 80%;
          height: auto;
          margin: 5% auto;
        }
        ul {
          display: flex;
          flex-flow: column nowrap;
          align-items: center;
          align-content: center;
          padding-bottom: 66%;
          li {
            .how-btn {
              display: block;
              width: 70%;
              margin: 10% auto;
              padding: $padding * 0.9 0;
              text-align: center;
              text-transform: uppercase;
              font-size: 0.8rem;
              word-spacing: 0.3em;
              font-weight: 400;
              background: $primary_green_light;
            } // end of how-btn
          } // end of li
        } // end of ul
      } // end of entry-content
    } // end of article

    .knives-fork {
      display: none;
    }
    .profile-pic {
      height: 9em;
      width: 9em;
      position: relative;
      transform: translateY(-40%);
    }
    p {
      transform: translateY(-10%);
      font-size: 1.5rem;
    }
    .member-name {
      font-size: 1.2rem;
      text-align: right;
    }
    .member-since {
      font-size: 1.2rem;
      text-align: right;
      transform: translateY(-80%);
    }
  } // end of @mobile

  .btn-container {
    margin: 0 auto;
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
  }
  .how-btn {
    margin: $margin 0;
  }
  .entry-header {
    @include tablet {
      padding: 0 $padding;
    }
  }
  @include tablet {
    .article-content {
      padding: 0;
      .how-count {
        font-size: $fontsize * 3;
        margin-bottom: 0;
        color: $secondary_orange_dark;
      }
      .how-title {
        margin-top: 0;
      }
      .how-img {
        width: 100%;
        margin-top: 5%;

        nav {
          padding: 0 5%;
        }
        .flickity-button {
          display: none;
        }
        .profile-pic {
          height: 9em;
          width: 9em;
          position: relative;
          transform: translateY(-40%);
        }
        p {
          transform: translateY(-10%);
          font-size: 1.5rem;
        }
        .member-name {
          font-size: 1.2rem;
          text-align: right;
        }
        .member-since {
          font-size: 1.2rem;
          text-align: right;
          transform: translateY(-80%);
        }
      }
    }

    .entry-content {
      nav {
        padding: 0 5%;
      }
      .how-icons {
        display: none;
      }
    }

    .testimonials {
      width: 90%;
      margin: 0 auto;
      padding-top: 5%;

      .knives-fork {
        display: none;
      }
      .carousel-cell {
        padding: 0 10%;
      }
      .profile-pic {
        transform: translateY(-40%);
        margin-bottom: 1em;
      }
      p {
        transform: translateY(-40%);
        line-height: 1.5;
      }
      .member-name,
      .member-since {
        text-align: right;
      }
      .member-name {
        font-weight: bold;
      }
      .member-since {
        transform: translateY(-2em);
      }
    }
  } //end of

  @include desktop {
    //************How it Works CONTENTS AREA
    .article-content {
      width: 80%;
      margin: 0 auto;
      overflow: hidden;
      position: relative;
      .how-icons {
        right: 0;
        top: 13%;
        width: auto;
        height: 15vw;
        -o-object-fit: cover;
        object-fit: cover;
        position: absolute;
        background: white;
        border-radius: 2em;
        display: none;
      }
    }
    .entry-header {
      display: flex;
      flex-flow: row nowrap;
      position: relative;
      padding-bottom: 5vh;

      nav {
        width: 60%;
      }

      .entry-title {
        font-size: 2.7rem;
      }
      .entry-description {
        font-size: $fontsize;
      }
      p {
        line-height: 1.5;
        width: 340px;
        padding: $padding * 2 0 0;
      }
    } // end of entry-header
    .computer-wrapper {
      position: relative;

      .how-img {
        object-fit: contain;
        position: absolute;
        width: 100%;
        bottom: 0;
        right: 0;
        z-index: $zdex - 1;
      }
    }
    .entry-content {
      .how-count {
        margin-bottom: 0;
      }
      .steps-list {
        display: flex;
        width: 50%;
        flex-direction: row;
        flex-wrap: wrap;
        li {
          width: 50%;
          padding: 0 2% 0 0;
          &:first-child .how-description {
            margin: $margin * 2.2 0 0;
          }
        }
      }
    }
  }
  //************styles for TESTimonials
  .testimonials {
    padding-top: 1%;
    position: relative;
    overflow: hidden;
    width: 100%;
    .site-title {
      font-family: $headfont;
      color: hsla(0, 0%, 0%, 0.15);
      font-size: calc(9rem - 100%);
      transform: translateX(-11%);
      margin: 0;
    }
    nav {
      padding: 2%;
      width: fit-content;
      margin: 0 auto;
      height: auto;
      img {
        position: relative;
        top: 0;
        transform: translateY(-50%);
      }
      p {
        font-family: $parafont;
        font-size: $title_sm;
        width: 80%;
        margin: 0 auto;
        padding-bottom: 5%;
        nav {
          width: 60%;
          padding: 2% 0;
          text-align: center;

          .btn {
            margin: 0 1%;
            width: fit-content;
            position: relative;
            display: inline-flex;
            justify-content: center;
          }
          ul {
            display: flex;
            flex-flow: row wrap;
            margin-bottom: 5%;
            text-align: left;
            width: 100%;
            li {
              flex: 1 0 50%;
              h3 {
                font-family: $parafont;
                font-size: $title_md;
                color: $secondary_orange_dark;
              }
            }
          }
        }
      }
      .how-img {
        width: 100%;
        height: auto;
        left: 0;
        position: absolute;
        z-index: -1;
        bottom: calc((63rem - 100%) - 1vmax);
      }
    } //end of
    //************styles for TESTimonials
    .testimonials {
      position: relative;
      overflow: hidden;
      width: 100%;
      .site-title {
        font-family: $headfont;
        color: hsla(0, 0%, 0%, 0.15);
        font-size: calc(9rem - 100%);
        transform: translateX(-11%);
        margin: 0;
      }
      nav {
        padding: 2%;
        width: fit-content;
        margin: 0 auto;
        height: auto;
        img {
          position: relative;
          top: 0;
          transform: translateY(-50%);
        }
        p {
          font-family: $parafont;
          font-size: $title_sm;
          width: 80%;
          margin: 0 auto;
          line-height: 1.5;
          transform: translateY(-3em);
          text-align: justify;
        }
      }
      //************styles for TESTimonials
      .testimonials {
        position: relative;
        overflow: hidden;
        width: 100%;
        .site-title {
          font-family: $headfont;
          color: hsla(0, 0%, 0%, 0.15);
          font-size: calc(9rem - 100%);
          transform: translateX(-11%);
          margin: 0;
        }
        nav {
          padding: 2%;
          width: fit-content;
          margin: 0 auto;
          height: auto;
          img {
            position: relative;
            top: 0;
            transform: translateY(-50%);
          }
          p {
            font-family: $parafont;
            font-size: $title_sm;
            width: 80%;
            margin: 0 auto;
            line-height: 1.5;
            transform: translateY(-3em);
            text-align: justify;
          }
          .member-name {
            font-family: $headfont;
            font-size: $title_md;
            font-weight: 600;
            text-align: right;
            transform: translateY(-2em);
          }
          .member-since {
            font-family: $parafont;
            font-size: $content_md;
            text-align: right;
          }
        }
      } //****************END of HOW it WORKS PAGE
    }
  }
}
