////styles for body

.error-404 {
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

////styles for image

.error-404-image {
  img {
    text-align: center;
    padding-top: 147px;
    width: 60%;

    @include desktop {
    }
  }
}

///styles for error message text

p.error-message {
  text-align: center;
  margin: 0 auto;
  padding-top: 4%;
  width: 50%;
  margin-top: 9%;
  font-size: 1.12em;

  @include desktop {
    font-size: 1.5em;
  }
}

.error-message span {
  font-weight: bold;
}

.btn-green {
  margin-top: 33%;
  width: 30%;
  text-transform: uppercase;
  font-size: 0.88em;
  @include desktop {
    display: none;
    visibility: hidden;
  }
}

// .error404 {
//   .site-footer,
//   .cityline,
//   .info-links {
//     background-color: white;
//     visibility: hidden;
//     display: none;
//   }
// }
// .error404 {
//   .site-footer,
//   .cityline,
//   .info-links {
//     @mixin tablet {
//       display: block;
//       visibility: visible;
//       width: 100%;
//     }
//   }
// }
