////styles for body

.error-404 {
  margin: 0 auto;
  text-align: center;
  line-height: 1;
}

////styles for image

.error-404-image {
  img {
    text-align: center;
    padding-top: 147px;
    width: 60%;

    @include desktop {
    }
  }
}

///styles for error message text

p.error-message {
  text-align: center;
  margin: 0 auto;
  padding-top: 4%;
  width: 85%;
  margin-top: 9%;
  font-size: 1em;
  padding-bottom: 15%;
  line-height: 1.5;

  @include desktop {
    font-size: 1.5em;
    padding-bottom: 15%;
  }
}

.error-message span {
  font-weight: bold;
}

.btn-wide {
  &.home {
    padding: 3% 16%;
  }
}

.error-btn-container {
  margin-top: 20%;
  padding-top: 5%;
  padding-bottom: 10%;
}

.error-btn-container {
  @include tablet {
    margin-top: 0;
  }
  .btn-wide {
    @include tablet {
      display: block;
      visibility: visible;
      width: 40%;
      margin: auto;
    }
    @include desktop {
      display: none;
      visibility: hidden;
    }
  }
}
