.banner {
  width: 100%;
  display: block;
  position: relative;
  .banner-img {
    // height: 60vmax;
    //height: 95vmax;
    // overflow: hidden;
    position: relative;

    width: 100%;
    height: 100vh;
    // overflow: hidden;
    position: relative;
    // border: 1px dotted red;

    img {
      object-fit: cover;
      margin-top: 60px;
      position: absolute;
      margin-bottom: 100px;
      object-position: center;
      height: 100vh;
      width: 100%;
      &:before,
      &:after {
        transition: ease-in-out 1s;
      }
      @include tablet {
        height: 100vh;
        object-fit: cover;
        object-position: center;
        position: absolute;
      }
    }
    @include tablet {
      margin-bottom: 100px;
    }
    @include desktop {
      margin-bottom: 100px;
    }
  }
  .banner-content {
    position: absolute;
    bottom: 50px;
    //overflow: hidden;
    padding: 2% 0;
    width: 80%;
    @include tablet {
      top: 200px;
      left: 0;
      position: absolute;
      width: 65%;
    }
    @include desktop {
      width: 60%;
      //position: unset;
    }

    h2 {
      background: rgba(111, 143, 106, 0.76);
      color: white;
      line-height: 1.5;
      font-weight: 600;
      width: 95%;
      padding: 0 10px;
      //margin: 0 auto;
      font-size: 1.25rem;
      text-align: left;
      @include tablet {
        font-size: 2rem;
      }
      @include desktop {
        font-size: 3rem;
        position: absolute;
        top: -50%;
        // padding: 2%;
      }
    }
  }
}

.banner-outer-content {
  background: unset;
}

//TODO FOR LATER
.page-id-44 {
  .banner-image img {
    object-position: right;
    @include desktop {
      object-position: center;
    }
  }
}
