///styles for the contact page////

// @mixin desktop {
//   @media only screen and (min-width: 601px) and (max-width: 1440px) {
//     @content;

.post-14 {
  background-color: white;
  // background-size: cover;
}
//

//     .contact-form-container {
//       display: flex;
//       flex-direction: column;
//       // justify-content: space-between;
//     }
//   }
// }

////display for the whole contact page//

.post-14 {
  background: url('../../assets/background-images/contact-bg@3x.png');
  background-size: cover;
}

.contact-form-container {
  display: flex;
  flex-direction: row;
  // justify-content: space-between;
}

.entry-content-contact {
  width: 60%;
  margin: 0 auto;
}

.media-enquiries {
  padding-left: 80px;
  height: 130px;
  width: 470px;
  h3 {
    border-top: 1px solid black;
    padding-top: 20px;
    font-family: $parafont, sans-serif;
    font-size: 24px;
    // border-bottom: 1px solid black;
  }
}

.contact-opportunity {
  line-height: 1em;
  font-size: 36px;
  font-family: $parafont, sans-serif;
}

.fab {
  color: white;
  background: $primary_green_dark;
  height: 20px;
  width: 20px;
  font-size: 20px;
  text-align: center;
  padding: 5px;
  border-radius: 60%;
  margin: 10px;
}

.social-links {
  display: flex;
  justify-content: space-between;
  width: 263px;
  height: 94px;
}

// .wpcf7 {
//   height: 235px;
//   width: 283px;
// }
