///styles for the contact page////

.page-contact-us {
  width: 100%;
  background-color: white;
  margin-top: 60px;

  @include desktop {
    background: url('../../assets/background-images/contact-bg@3x.png');
    background-size: cover;

    .contact-form-container {
      display: flex;
      flex-direction: row;
    }

    .media-enquiries {
      padding-left: 80px;
      height: 130px;
      width: 470px;
    }

    .contact-opportunity {
      line-height: 1.5em;
      font-size: 2em;
      font-family: $headfont;
      text-align: left;
      margin-left: 46px;

      @include desktop {
        padding-left: 160px;
      }
    }

    .asterix {
      display: none;
    }
  }
}

.social-icons {
  display: flex;
  padding: 0;
  li {
    background: $primary_green_med;
    color: white;
    height: 42px;
    width: 42px;
    border-radius: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin: 10px;

    &:hover,
    &:visited,
    &:active {
      cursor: pointer;
      border: 1px solid primary_green_dark;
      color: white;
      background: $primary_green_dark;
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

/// alignment for the whole page

.entry-content-contact {
  width: 90%;
  margin: 0 auto;

  @include desktop {
    width: 70%;
  }
}

//// section for media enquiries

.media-enquiries {
  padding-left: 0px;

  h3 {
    border-top: 1px solid black;
    padding-top: 20px;
    font-family: $parafont, sans-serif;
    font-size: 24px;
  }
}

///mobile style for header for the form

.contact-opportunity {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: $headfont;
  text-align: center;
  min-width: 100%;
}
