///styles for the contact page////

.page-contact-us {
  width: 100%;
  background-color: white;
  margin-top: 60px;

  @include desktop {
    background: url("../../assets/background-images/contact-bg@3x.png");
    background-size: cover;
    background-size: 100%;
    background-repeat: no-repeat;

    .contact-form-container {
      display: flex;
      flex-direction: row;
      line-height: 1;
    }

    h2.contact-opportunity {
      padding-top: 3%;
      text-align: center;

      // font-size: 1.12em;

      @include tablet {
        // padding-left: 15%;
        // text-align: center;
      }

      @include desktop {
        padding-top: 4%;
        text-align: left;
        padding-left: 15%;
      }
    }
  }

  // .media-enquiries {
  //   height: 200px;
  //   width: 470px;

  //   @include tablet {
  //     padding-top: 0;
  //     padding-left: 0;
  //     margin: 0;
  //     width: 93%;
  //   }

  //   @include desktop {
  //     margin: 0 auto;
  //     // padding-left: 10%;
  //     padding-top: 5%;
  //   }
  // }

  .contact-opportunity {
    line-height: 1.5em;
    font-size: 1.25em;
    font-family: $headfont;
    text-align: center;

    @include tablet {
      font-size: 1.75em;
      // margin-left: 0px;
      text-align: center;
      padding-top: 2%;
    }

    @include desktop {
      font-size: 2em;
      padding-left: 1%;
    }
  }
}

.asterix {
  display: none;

  @include desktop {
    display: inline-block;
  }
}

.social-icons {
  display: flex;
  padding: 0;
  padding-top: 2%;
  li {
    background: $primary_green_med;
    color: white;
    height: 42px;
    width: 42px;
    border-radius: 60%;
    margin-right: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
    margin-right: 2%;

    &:hover,
    &:visited,
    &:active {
      cursor: pointer;
      border: 1px solid primary_green_dark;
      color: white;
      background: $primary_green_dark;
      text-decoration: none;
    }
    a {
      color: white;
      text-decoration: none;
    }
  }
}

/// alignment for the whole page

.entry-content-contact {
  width: 90%;
  margin: 0 auto;

  @include tablet {
    // margin-left: 12%;
    width: 70%;
    padding: 2%;
  }

  @include desktop {
    width: 70%;
  }
}

//// section for media enquiries

.media-enquiries {
  padding-left: 0;

  @include tablet {
    padding-top: 0;
    padding-left: 0;
    margin: 0;
    width: 100%;
  }
  @include desktop {
    width: 100%;
    margin: 0 auto;
    // padding-left: 10%;
    padding-top: 5%;
  }

  p {
    margin: 0;
    margin-bottom: 5%;
  }
  h3 {
    width: 100%;
    border-top: 1px solid black;
    padding-top: 20px;
    font-family: $parafont, sans-serif;
    font-size: 24px;
    margin: 0;

    @include tablet {
      margin-top: 8%;
      font-size: 1.5em;
    }
  }
}

///mobile style for header for the form

.contact-opportunity {
  line-height: 1.5em;
  font-size: 1.3em;
  font-family: $headfont;
  text-align: center;
  min-width: 100%;
  margin-top: 0;
}

@include mobile {
  div.wpcf7 .ajax-loader {
    display: none;
  }
}
//   .contact-opportunity {
//     // margin-top: 20%;
//   }
// }
