// /// front banner section

/////TO DO change banner img to glass tumbler coffee cup for mobile

.events-banner {
  background: url('../../assets/events-images/event-hero@3x.png') no-repeat;
  height: 100vh;
  background: contain;
  background-position: bottom center;

  @include desktop {
    background-image: url('../../assets/events-images/coffee-cup.jpg');
    background: contain center;
  }
}

.upcoming-events {
  position: center;
  background-color: #6f8f6a;
  padding: 40px;
  opacity: 0.85;
  width: 80%;
  height: 50%;
  top: 25%;
}

h1.upcoming-events-title {
  position: relative;
  color: #fff;
  font-family: $headfont;
  font-style: bold;
  font-size: 1.5em;

  // padding-top: inherit;
}

h2.upcoming-events-location {
  position: relative;
  color: #fff;
  font-size: 1em;
}

.banner-links {
  display: flex;
  align-content: center;
  padding: 20px;
  flex-direction: column;
  justify-content: space-around;
  min-width: 1vw;
}

.buy-tickets-btn {
  background: #fff;
  color: $primary_green_med;
  border: 3px solid $primary_green_med;
  border-radius: 1.5em;
  // padding: 15px;
  font-size: $fontsize;
  font-family: $parafont;
  font-weight: 500;
  text-transform: uppercase;
  text-decoration: none;
  margin: 2% 28%;
  padding: 12px;
  width: 200px;
  white-space: no-wrap;
}

// &:hover {
//   cursor: pointer;
//   border: 1px solid $primary_green_dark;
//   color: $primary_green_dark;
//   background: white;
//   font-weight: 500;
// }
//   }
// }

.apply-to-pitch-btn {
  background: #fff;
  text-decoration: none;
  color: $primary_green_med;
  border: 3px solid $primary_green_med;
  border-radius: 1.5em;
  // padding: 15px;
  font-size: $fontsize;
  font-family: $parafont;
  font-weight: 500;
  text-transform: uppercase;
  margin: 2% 28%;
  padding: 12px;
  max-width: 34vw;
  position: relative;
  width: 200px;
  white-space: no-wrap;
}

///video section styling

///TO DO change the control button

.video-section {
  position: relative;
  display: flex;
  justify-content: center;
  top: 75px;
  height: 115vh;
}

.video-bg {
  background: rgba(242, 144, 97, 0.17);
  position: absolute;
  top: 20%;
  left: 0;
  right: 0;
  bottom: -20%;
  z-index: -1;
}

.stackItem {
  min-width: 20vw;
}

// .controlsContainer {
//   --clickToPlay-size: 300px;
//   background-image: url(../assets/events-images/playbutton.svg);
// }

// .clickToPlay {
//   --clickToPlay-size: 108px;

//   background-image: url(../assets/events-images/playbutton@2x.png);
// }
// video {
//   // height: 235px;
//   // width: 133px;
// }

// ///pitch summary section //

.pitch-summary {
  display: flex;
  margin-left: 50px;
  flex-direction: column;
  align-items: center;
  width: 100%vw;
  text-align: center;

  @include desktop {
    flex-direction: row;
  }
}

.summary-image {
  img {
    max-width: 100%;
    height: auto;
  }
}

.flex-item-container {
  display: flex;
  // justify-content: center;
  // align-items: center;
  margin: 0 60px;
  flex-direction: column;
  height: 60vh;
}

h3.summary-title {
  font-size: 1.5em;
  font-family: $headfont, serif;
  text-align: center;
  font-display: bold;
  color: black;
}

p.summary-description {
  font-size: $fontsize;
  text-align: center;
  max-width: 500px;
}

.apply-to-pitch-btn-green-flex {
  display: flex;
  justify-content: center;
}

.apply-to-pitch-btn-green {
  background: $primary_green_med;
  color: white;
  border: 1px solid transparent;
  border-radius: 2em;
  font-size: $fontsize;
  font-family: $parafont;
  text-align: center;
  text-transform: uppercase;
  width: 217px;
  height: 45px;
  text-decoration: none;
  font-weight: 500;
  overflow: hidden;

  // &:visited {
  //   // cursor: pointer;
  //   // // border: 1px solid $primary_green_dark;
  //   // color: white;
  //   // background: white;
  // }
}
// .flex-layout {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   max-width: 33%;
// }

//   .flex_item {
//
//   }
// }

// // .flex-layout {
// // }

// // // .summary-description

// // @include desktop() {
// // }

/////past events

h2.past-events-title {
  text-align: center;

  @include desktop {
    text-align: left;
  }
}

.past-events-container {
  display: flex;
  justify-content: center;
  padding: 20%;
  margin: 0 auto;
  flex-direction: column;
  flex-wrap: no-wrap;
  background-image: url(../../assets/events-images/event-journal.jpg);
  background-size: no-repeat, 50%;
  background-color: #e5e9ec;

  .past-event {
    @include desktop {
      flex-direction: row;
    }
  }
}

.past-events-container {
  img {
    height: 30vw;
    justify-content: center;
    position: relative;
    padding-left: 80px;
    margin: 0 auto;

    @include desktop {
      // width: 100vw;
    }
  }
}

.past-events-date {
  font-size: 1.75em;
  text-align: center;
  line-height: 1em;
  padding-top: 0;
}
.past-events-location {
  color: $primary_green_med;
  font-size: 1.5em;
  text-align: center;
}
.past-events-description {
  font-size: $fontsize;
  margin: 5% 5%;
  line-height: $fontsize;
  text-align: center;
}
