// /// front banner section

/////TO DO change banner img to glass tumbler coffee cup for mobile

// .events-banner a {
// }

// .upcoming-events {
// }

// h1.upcoming-events-title {
// }

// ///video section style

// // .video-section {

// // }

// ///pitch summary section //

// .flex-item-container {
// }

// .flex-item-container a {
// }

h3.summary-title {
  font-size: 1.5em;
  font-family: $headfont, serif;
  text-align: center;
  font-display: bold;
  color: black;

  //
}

// p.summary-description {
//   font-size: $fontsize;
//   border: 1px solid blue;
// }
// .flex-layout {
//   display: flex;
//   justify-content: space-between;
//   flex-direction: row;
//   max-width: 33%;
// }

// @mixin desktop {
//   .flex_item {
//     display: flex;
//     justify-content: space-between;
//     flex-direction: row;
//   }
// }

// // .flex-layout {
// // }

// // // .summary-description

// // @include desktop() {
// // }

// ///past events loop
// .past-event {

//   .past-events-date {

//   }
//  .past-events-location {

//  }
// .past-events-description {

// }
