//**************STYLES for FLICKITY Carousels

@include desktop {
  .testimonials {
    .knives-fork {
      color: hsla(0, 0%, 0%, 0.15);
    }
    .carousel-cell,
    nav {
      p {
        font-size: 2rem;
        transform: translateY(-32%);
        padding: 1% 10% 0 10%;
      }
      .member-name,
      .member-since {
        text-align: right;
      }
      .member-since {
        transform: translateY(-2em);
      }
      .member-name {
        font-weight: 600;
      }
    }
  }
}

//----how-it-works Page
/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: transparent;
}

.testimonials {
  //**************START of changes at FLICKITY
  // .flick-container {
  //   width: 65%;
  //   margin: 0 auto;
  // }
  .flickity-enabled {
    width: 75%;
    margin: 0 auto;
  }
  .carousel-cell {
    // margin: 0 auto;
    // background: #8c8;
    counter-increment: gallery-cell;
    img {
      transform: translateY(-35%);
    }
  }
  .carousel-cell.is-selected {
    width: 100%;

    // height: fit-content;
  }

  .flickity-page-dots .dot {
    width: 1em;
    height: 1em;
  }
  .flickity-button {
    background: transparent;
    width: 10%;
    height: 10%;
    opacity: 0.8;
    &:hover {
      background: transparent;
      opacity: 1;
    }
  }
}
// .flickity-viewport {
// width: 65%;
// margin: 0 auto;
//   flex-flow: column nowrap;
//   align-content: center;
//   align-items: center;
// }

.flickity-slider {
  margin-top: 5em;
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  //   content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
  margin: 0 1%;
}
.carousel-cell:after {
  height: 100%;
  margin: 0 1%;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  fill: white;
}
.flickity-prev-next-button.no-svg {
  color: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
