//**************STYLES for FLICKITY Carousels

@include desktop {
  .testimonials {
    .knives-fork {
      color: hsla(0, 0%, 0%, 0.09);
      font-size: 8rem;
      margin: 1% 10%;
      font-family: $headfont;
    }
    .carousel-cell {
      width: 90%;
      margin: 0 5% 0 5%;
    }

    nav {
      p {
        font-size: 2rem;
        transform: translateY(-15%);
        // padding: 1% 10% 0 10%;
      }
      .member-name,
      .member-since {
        text-align: right;
      }
      .member-since {
        transform: translateY(-0.75em);
      }
      .member-name {
        font-family: $headfont;
        font-weight: 600;
      }
    }
    &::before {
      content: '';
      width: 80%;
      margin: 0 auto;
      height: 40px;
      border-top: 2px solid #e0dbdb;
    }
  }
}
@include tablet {
  .testimonials {
    width: 100%;
    margin: 0;
    // .flickity-button{
    //   display: none;
    // }
    .knives-fork {
      color: hsla(0, 0%, 0%, 0.15);
      font-size: 4rem;
      margin: 0.33rem 0;
      font-family: $headfont;
      &::before {
        content: '';
        width: 80%;
        margin: 0 auto;
        height: 40px;
        border-top: 2px solid #e0dbdb;
      }
    }
    .flickity-enabled {
      width: 90%;
      margin: 0 auto;
    }
    .carousel-cell {
      width: 90%;
      margin: 0 5% 0 5%;
      p {
        font-size: 1.2rem;
        transform: translateY(-25%);
        width: 90%;
        margin: 6% auto;
      }
      .member-name {
        font-weight: bold;
        text-align: right;
      }
      .member-since {
        text-align: right;
        transform: translateY(-1em);
      }
    }
  }
}
@include mobile {
  .testimonials {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
    .knives-fork {
      color: hsla(0, 0%, 0%, 0.15);
      font-size: 2.5rem;
      margin: 1rem 0;
      order: 2;
      display: flex;
      justify-content: center;
      font-family: $headfont;
    }

    .flickity-button {
      display: none;
    }
    .flickity-enabled {
      width: 100%;
      margin: 0 auto;
    }

    .carousel-cell.is-selected {
      width: 90%;
      margin: 0 5% 0 5%;
      // &:before,
      // &:after {
      //   width: 95%;
      //   margin: 0 auto;
      // }
      .carousel-cell {
        width: 100%;

        // margin: 0 auto;
        p {
          font-size: 1.2rem;
          width: 90%;
          // margin: 0 auto 6% auto;
        }
        .member-name {
          font-weight: bold;
          text-align: right;
        }
        .member-since {
          text-align: right;
        }
      }
    }
  }
}

//----how-it-works Page
/* external css: flickity.css */

* {
  box-sizing: border-box;
}

body {
  font-family: sans-serif;
}

.carousel {
  background: transparent;
}

.testimonials {
  //**************START of changes at FLICKITY
  // .flick-container {
  //   width: 65%;
  //   margin: 0 auto;
  // }

  .carousel-cell {
    img {
      transform: translateY(-35%);
    }
  }

  .flickity-page-dots .dot {
    width: 1em;
    height: 1em;
  }
  .flickity-button {
    background: transparent;
    width: 10%;
    height: 10%;
    opacity: 0.8;

    &:hover {
      background: transparent;
      opacity: 1;
    }
  }
}
// .flickity-viewport {
// width: 65%;
// margin: 0 auto;
//   flex-flow: column nowrap;
//   align-content: center;
//   align-items: center;
// }

.flickity-slider {
  margin-top: 5em;

  @include tablet {
    margin-top: 7rem;
  }
  @include desktop {
    margin-top: 7rem;
  }
}

/* cell number */
.carousel-cell:before {
  display: block;
  text-align: center;
  //   content: counter(gallery-cell);
  line-height: 200px;
  font-size: 80px;
  color: white;
  // margin: 0 1%;
}
.carousel-cell:after {
  height: 100%;
  margin: 0 1%;
}

.flickity-prev-next-button {
  width: 100px;
  height: 100px;
  background: transparent;
}
/* arrow color */
.flickity-prev-next-button .arrow {
  // fill: rgba(91, 123, 86, 0.75);
  fill: white;
}
.flickity-prev-next-button.no-svg {
  // fill: rgba(91, 123, 86, 0.75);
  fill: white;
}
.flickity-prev-next-button:hover {
  background: transparent;
}
/* hide disabled button */
.flickity-prev-next-button:disabled {
  display: none;
}
.flickity-prev-next-button.next {
  right: 1em !important;
}
.flickity-prev-next-button.previous {
  left: 1em !important;
}
