/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
h2,
.entry-title {
  font-family: $headfont;
}

.entry-description {
  font-family: $parafont;
  color: $buttoncolor;
}
p {
  font: 16px $parafont;
}
