/*--------------------------------------------------------------
# Embedded Fonts
--------------------------------------------------------------*/
h2,
.entry-title {
  font-family: Lora Bold, Sans-serif;
}

.entry-description {
  font-family: Lato Bold, Sans-serif;
  color: #378244;
}
p {
  font: 16px Lato Regular, Serif;
}
