.site-info {
  display: flex;
  //   width: 580px;
  justify-content: space-around;
  margin: 0 auto;
  .hide {
    display: none;
  }
  h4 {
    font-family: $headfont;
  }
  p.copyright {
    font-family: $parafont;
    font-size: $fontsize * 0.625;
    span {
      text-transform: capitalize;
    }
  }
  // desktop site
  @include desktop {
  }
}
