// this hides mobile/desktop logo
.hide {
  display: none;
}

.site-info {
  display: flex;
  justify-content: space-around;
  margin: 0 auto;
  h4 {
    font-family: $headfont;
  }
  p.copyright {
    font-family: $parafont;
    font-size: $fontsize * 0.625;
    span {
      text-transform: capitalize;
    }
  }
  // desktop site
  @include desktop {
  }
}

.desktop-logo {
  display: none;
  @include desktop {
    display: block;
  }
}

.mobile-logo {
  display: block;

  @include desktop {
    display: none;
  }
}
