//**************Button styles
.btn {
  background: $primary_green_med;
  color: white;
  border: 1px solid $primary_green_med;
  border-radius: 2em;
  padding: 16px 0px;
  font-size: 0.88em;
  font-family: $parafont;
  height: min-content;
  text-transform: uppercase;
  min-width: 100px;

  &.btn-small {
    min-width: 100px;
  }

  &.btn-medium {
    min-width: 200px;
  }
  &.btn-large {
    min-width: 268px;
    letter-spacing: 0.23px;
    border-radius: 3em;
  }
  &.btn-full {
    min-width: 350px;
  }

  &.btn-gravity-form {
    min-width: 154px;
    letter-spacing: 0.5px;
    padding: 11px 0;
  }
  &.capitals {
    text-transform: capitalize;
  }

  &.btn-event {
    background: white;
    color: $primary_green_med;
    border: 3px solid $primary_green_med;
    text-transform: uppercase;
    font-size: 1rem;
    margin: 0 1%;
    width: 30%;
    font-weight: 400;
    padding: 11px 0;

    &:hover {
      cursor: pointer;
      background: $primary_green_med;
      color: #fff;
    }
  }

  &:hover {
    cursor: pointer;
    border: 1px solid $primary_green_med;
    color: $primary_green_med;
    background: white;
    font-weight: 500;
  }
}

//************styles for PROFILE PICTURES
@include desktop {
  .profile-pic {
    width: 14em;
    border-radius: 100%;
    height: 14em;
    object-fit: cover;
  }
}
@include tablet {
  .profile-pic {
    width: 10em;
    border-radius: 100%;
    height: 10em;
    object-fit: cover;
  }
}
@include mobile {
  .profile-pic {
    width: 10em;
    border-radius: 100%;
    height: 10em;
    object-fit: cover;
  }
}

// /*--------------------------------------------------------------
// # Forms
// --------------------------------------------------------------*/

// /* Buttons */

// button,
// input[type="button"],
// input[type="reset"],
// input[type="submit"] {
// 	border: 1px solid;
// 	border-color: #ccc #ccc #bbb;
// 	border-radius: 3px;
// 	background: #e6e6e6;
// 	box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.5), inset 0 15px 17px rgba(255, 255, 255, 0.5), inset 0 -5px 12px rgba(0, 0, 0, 0.05);
// 	color: rgba(0, 0, 0, .8);
// 	@include font-size(0.75);
// 	line-height: 1;
// 	padding: .6rem 1rem .4rem;
// 	text-shadow: 0 1px 0 rgba(255, 255, 255, 0.8);

// 	&:hover {
// 		border-color: #ccc #bbb #aaa;
// 		box-shadow: inset 0 1px 0 rgba(255, 255, 255, 0.8), inset 0 15px 17px rgba(255, 255, 255, 0.8), inset 0 -5px 12px rgba(0, 0, 0, 0.02);
// 	}

// 	&:active,
// 	&:focus {
// 		border-color: #aaa #bbb #bbb;
// 		box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.5), inset 0 2px 5px rgba(0, 0, 0, 0.15);
// 	}
// }

// /* Fields */

// input[type="text"],
// input[type="email"],
// input[type="url"],
// input[type="password"],
// input[type="search"],
// textarea {
// 	color: #666;
// 	border: 1px solid #ccc;
// 	border-radius: 3px;

// 	&:focus {
// 		color: #111;
// 	}
// }

///styles for the inside the form//

.wpcf7-form .wpcf7-textarea,
input[type='text'],
input[type='email'] {
  border: 1px solid black;
  border-radius: 5px;
  color: black;
  font-family: $parafont, serif;
  max-width: 100%;
  width: 100%;
  resize: none;
  line-height: 2em;
  margin: 0 auto;
}

.wpcf7-form .wpcf7-textarea,
input[type='textarea'] {
  height: 120px;

  @include tablet {
    height: 150px;
  }

  @include desktop {
    height: 170px;
  }
}

////styles for the button

wpcf7-submit input[type='‘submit’'] {
  color: $primary_green_med;
  border-color: 1px solid $primary_green_med;
  background: white;
  border-radius: 20px;
  font-family: $parafont;
  font-size: $fontsize;
  font-weight: 200;

  @include tablet {
    margin: 4%;
  }
}

////styles for the form text

.wpcf7-form {
  color: $primary_green_med;
  font-family: $parafont, serif;
  font-weight: bold;
}

//   @include tablet {
//     width: 100%;
//   }

//   @include desktop {
//     width: 150%;
//   }
// }

.wpcf7-form p {
  font-size: 1em;
  line-height: 1.75em;

  @include desktop {
    font-size: 1.05em;
  }
}

///styles for the submit button

.contact-submit-button {
  display: flex;
  justify-content: center;
  text-transform: uppercase;

  @include desktop {
    justify-content: flex-start;
  }
}

.wpcf7-form-control [type='‘submit’'] {
  border: 2px solid $primary_green_med;
  border-radius: 5px;
  color: $primary_green_med;
  text-transform: uppercase;
  font-family: $parafont;
  max-width: 100%;
}

.wpcf7-form-control:focus {
  border: 2px solid $primary_green_med;
}

////button control

.wpcf7-submit {
  width: 100%;
  background-color: white;
  color: $primary_green_dark;
  border: 2px solid $primary_green_dark;
  background: white;
  border-radius: 20px;
  font-family: $parafont, sans-serif;
  font-size: $fontsize;
  width: 169px;
  height: 40px;
  text-align: center;
  text-transform: uppercase;
}
