.current {
  border-bottom: 2px solid $primary_green_med;
}
.main-navigation {
  position: fixed; //put parent
  top: 0;
  background-color: #fff;
  width: 100%;
  z-index: $zdex + 99;
  // box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
  box-shadow: 0 1rem 2rem #fff;
  .nav-container {
    // display: flex;
    display: none;
    max-width: 1140px;
    margin: 0 auto;
    padding: $padding * 2 0 0;
  }

  .home-logo {
    flex-grow: 1;
    img {
      width: 230px;
    }
  }
  .hamburger {
    font-size: $fontsize * 2;
    padding: $padding * 1.5 $padding 0 0;
    height: 35px;
  }
  .menu li {
    list-style: none;
  }
  .mobile-menu {
    font-family: $parafont;
    @include desktop {
      display: none;
    }
    .cross {
      //exits mobile menu
      padding: $padding;
      font-size: $fontsize * 2;
      color: #fff;
    }
    z-index: 2;
    position: absolute;
    right: 0;
    text-align: right;
    background-color: $neutral_green_med;
    width: 100%;
    li {
      border-top: 1px solid #fff;
      width: 100%;
      a {
        width: 100%;
        padding: $padding;
        display: inline-block;
        position: relative;
        right: 0;
        color: #fff;
        &:visited {
          color: #fff;
        }
        //thinking about include the hover on desktop only
        &:hover {
          background-color: $neutral_green_light;
        } // end of a:hover
      } // end of a
    } // end of li
  } // end of mobile menu

  // START OF DESKTOP MENU
  @include mobile {
    .desktop-menu {
      display: none;
    }
  }
  @include tablet {
    .desktop-menu {
      display: none;
    }
  }
  @include desktop {
    .desktop-menu {
      font-family: $parafont;
      font-weight: 700;
      padding: 0 $padding * 1.5 0 0;
      .menu {
        display: flex;
        justify-content: space-around;
        padding: $padding 0 0 0;
        li {
          padding: $padding $padding;
          a {
            color: #000;
            &:hover {
              border-bottom: 2px solid #000;
            }
          }
          &:last-child {
            a {
              color: #fff;
              font-weight: 100;
              font-size: $fontsize * 0.8;
            }
          }
        }
      }
    } // end of .desktop-menu
  }
  // END OF DESKTOP MENU

  // START OF HIDDEN MENU
  @include mobile {
    .hidden-menu {
      display: none;
    }
  }
  @include tablet {
    .hidden-menu {
      display: none;
    }
  }
  @include desktop {
    .hidden-menu {
      font-family: $parafont;
      .cross {
        //exits mobile menu
        padding: $padding;
        font-size: $fontsize * 2;
        color: #fff;
      }

      z-index: $zdex + 2;
      position: absolute;
      right: 0;
      text-align: right;
      background-color: $neutral_green_med;
      width: 100%;
      li {
        border-top: 1px solid #fff;
        width: 100%;
        a {
          width: 100%;
          padding: $padding;
          display: inline-block;
          position: relative;
          right: 0;
          color: #fff;
          &:visited {
            color: #fff;
          }
          //thinking about include the hover on desktop only
          &:hover {
            background-color: $neutral_green_light;
          } // end of a:hover
        } // end of a
      } // end of li
    }
  }
  // END OF HIDDEN MENU
} //end of main-navigation
