.main-navigation {
  display: flex;
  justify-content: space-between;
  background-color: #fff;
  //box-shadow: none|h-offset v-offset blur spread color |inset|initial|inherit;
  box-shadow: 0 1rem 3rem #fff;
  .hamburger {
    font-size: $fontsize * 2;
    padding: $padding * 1.5 $padding 0 0;
    height: 35px;
  }
  .menu li {
    list-style: none;
  }
  .mobile-menu {
    display: none;
  }
  .desktop-menu {
    display: none;
  }
  .hidden-menu {
    display: none;
  }
}
