.copy-title {
  font-weight: $font_weight_header;
  font-size: 1.75rem;
  @include desktop {
    font-size: 2.5rem;
  }
}
.copy-subtitle {
  color: $primary_green_dark;
  font-size: 1.25rem;
}
.copy-text {
  font-weight: $font_weight_body;
  line-height: 1rem;
  text-align: unset;
  @include desktop {
    line-height: 1.5rem;
  }
}

.custom-copy-block {
  display: flex;
  flex-direction: column;
  margin-top: 100px;

  @include desktop {
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 150px;
    width: 95%;
    align-self: flex-end;
  }
  .copy-block-content {
    order: 1;
    position: relative;
    top: -50px;

    @include desktop {
      width: 100%;
      position: relative;
      padding-right: 50px;
      margin: auto 5%;
      top: 0;
    }
    .copy-block-text {
      @include desktop {
        position: relative;
        top: -60px;
        width: 100%;
      }
      .copy-title {
        @include desktop {
          position: relative;
        }
      }

      .copy-text {
        @include desktop {
          position: relative;
          top: 40px;
        }
      }
    }
    .copy-block-btn {
      display: block;
      position: relative;
      bottom: -75px;
      width: 160px;
      margin: auto;
      text-align: center;

      @include tablet {
        bottom: -80px;
      }
      @include desktop {
        bottom: -25px;
        position: absolute;
      }
    }
  }
  .copy-block-image {
    order: 0;
    width: 70%;
    position: relative;
    top: -50px;
    @include desktop {
      margin: 0px 1rem;
      padding: 0px;
      top: 75px;
      width: 100%;
    }
    img {
      width: 100%;
      @include desktop {
        position: relative;
        width: 90%;
      }
    }
  }
  &.image-copy {
    margin-left: 30px;
    @include desktop {
      margin-left: 0;
    }
    .copy-block-image {
      left: -70px;
      @include desktop {
        left: 50px;
      }
    }
    .copy-block-content {
      margin: 0 5% 10px 20%;
      @include desktop {
        margin: 0;
        margin-left: 20px;
      }
    }
  }
  &.copy-image {
    margin-right: 30px;
    @include desktop {
      margin-right: 0;
    }
    .copy-block-image {
      order: 0;
      right: -27%;
      @include tablet {
        right: -28%;
      }
      @include desktop {
        order: 1;
        right: 0;
      }
    }
    .copy-block-content {
      margin: 0 20% 10px 5%;
      padding-left: 5%;
      order: 1;
      @include desktop {
        order: 0;
        margin: 0;
        margin-left: 20px;
      }
    }
  }
}
