.become-member-container {
  display: flex;
  flex-flow: column nowrap;
  position: relative;
  @include desktop {
    flex-flow: row nowrap;
  }
  margin: 100px 0 100px 5vw;
  .become-member-text {
    order: 1;
    width: 70%;
    margin-left: 20%;
    margin-right: 5%;
    padding: 10% 5%;
    margin-top: 50px;
    .blurb-subtitle {
      color: $primary_green_dark;
    }
  }
  .become-member-image {
    order: 0;
    width: 60%;
    height: auto;
    position: absolute;
    top: -30%;
    left: -5%;
  }
  .btn {
    position: absolute;
    bottom: -20px;
    left: 33%;
  }
}

.make-pitch-container {
  .make-pitch-text {
    margin-top: 150px;
  }
  .make-pitch-image {
  }
}

.blurb-title {
  font-weight: $font_weight_header;
  font-size: 1.75rem;
}
.blurb-text {
  font-weight: $font_weight_body;
  line-height: 1.35rem;
}
