ul,
li {
  list-style: none;
  margin: 0;
  padding: 0;
}
a {
  text-decoration: none;
}
input {
  border: 0;
}
.hide-this {
  display: none !important;
}
.steps-list {
  margin-bottom: 5%;
}
//*******************FEATURED BANNER IMAGE for each page
.banner {
  margin-top: 10%;
  width: 100%;
  display: block;
  height: inherit;
  position: relative;

  .banner-content {
    background: rgba(111, 143, 106, 0.76);
    position: absolute;
    display: flex;
    flex-flow: column nowrap;
    width: 60%;
    height: inherit;
    justify-content: center;
    align-content: center;
    align-items: center;
    padding: 2%;
    top: 20%;
    // transform: translateY(70vmin);
    h2 {
      color: white;
      font-size: calc((4em - 100%) - 1.5vmin);
      line-height: 1.2;
      margin-left: 5%;
    }
  }
}
.banner-img {
  width: auto;
  height: 60vmax;

  img {
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}
//********* CONTENts area
article {
  width: 100%;
  height: inherit;
  h2 {
    text-transform: capitalize;
  }
  .how-count {
    font-family: $parafont;
    font-size: $title_md;
  }
}
.site-content {
  margin-top: 5%;
}

//************Testimonials Area
.testimonials {
  background: url('../../assets/background-images/contact-bg@3x.png');
  background-size: cover;
  background-position: bottom right;
  nav {
    background: rgba(91, 123, 86, 0.75);
    color: #fff;
    border-radius: 1.5em;
    text-align: center;
  }
}

//********************SET FORCE the ordering at OUR STORY PAGE
.site-content {
  display: flex;
  flex-flow: column nowrap;
}
.support-container {
  order: 5;
}
.testimonials {
  order: 4;
}

//DEFAULT setup for BANNER
@include tablet {
  .banner-img img {
    height: auto;
  }
}
