.support-container {
  display: flex;
  flex-direction: column;
  order: 4s;
  margin: 0 auto;

  @include desktop {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 200px;
    padding-right: 200px;
    border-top: 2px solid #e0dbdb;
    width: 1220px;
    margin-left: 5%;
    margin-right: 20%;
    margin-bottom: 5%;
  }
}
.slowmoney-icon,
.vancity-icon {
  background-color: rgba(55, 130, 68, 0.2);
  border-radius: 90%;
  width: 20%;
  height: 15%;
  text-align: center;
  height: 100px;
  width: 100px;
  border-radius: 60%;
  margin-right: 10px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: 0 auto;

  @include desktop {
    height: 100px;
    width: 100px;
  }
}

.slowmoney-icon {
  img {
    margin: -36%;
    height: 14vh;
    @include desktop {
      height: 25vh;
      margin: -22%;
      margin-right: -166%;
    }
  }
}
.vancity-icon {
  img {
    height: 8vh;
    margin: 15%;

    @include desktop {
      padding-right: 101px;
      height: 12vh;
      margin: 28%;
      margin-right: -275%;
    }
  }
}

h3.initiative-title,
h3.supported-by-title {
  padding: 20px;
  font-family: $headfont;
  font-size: 20px;
  text-align: center;
  display: flex;
  justify-content: center;
  color: black;
  padding-bottom: 2em;

  @include desktop {
    font-size: 24px;
    font-family: $parafont;
    font-weight: 400;
    flex-direction: column;
    padding-left: 152px;
    padding-top: 4em;
    color: $primary_green_light;
  }
}
