.support-container {
  padding-top: 20%;
}

.initiative {
  img {
  }
}
.support-container img {
  width: 50%;
}

h3.initiative,
h3.support-container,
h3.supported-by {
  font-family: $headfont;
  font-size: 20px;
  text-align: center;
  font-weight: bold;
  display: flex;
  flex-direction: column;

  @include desktop {
    flex-direction: row;
    color: $primary_green_med;
  }
}
