.team {
  order: 4;
  padding: 0 0 $padding * 3   ;
  h2 {
    text-align: center;
    font-size: $fontsize * 2.5;
  }
  .team-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    @include desktop {
      grid-template-columns: repeat(10, 1fr);
      grid-template-rows: 1fr 1fr;
    }
    .team-member {
      margin: 0 auto;

      &:first-child {
        grid-column: 1 / 3;
        @include desktop {
          grid-column: 2 / 4;
        }
      }
      &:nth-child(2) {
        @include desktop {
          grid-column: 4 / 6;
        }
      }
      &:nth-child(3) {
        @include desktop {
          grid-column: 6 / 8;
        }
      }
      &:nth-child(4) {
        @include desktop {
          grid-column: 8 / 10;
        }
      }
      &:nth-child(5) {
        @include desktop {
          grid-column: 3 / 5;
        }
      }
      &:nth-child(6) {
        @include desktop {
          grid-column: 5 / 7;
        }
      }
      &:nth-child(7) {
        @include desktop {
          grid-column: 7 / 9;
        }
      }
      &:last-child:not(:nth-child(odd)) {
        grid-column: 1 / 3;
      }
      .portrait {
        width: 150px;
        height: 150px;
        object-fit: cover;
        border-radius: 5rem;
      }
      .desc {
        padding: $padding 0;
        p {
          text-align: center;
          text-transform: capitalize;
          &.name {
            font-weight: bold;
            margin: 0;
          }
          &.role {
            margin: 0;
          }
        }
      } // end of desc
    } // end of team member
  } // end of team grid
} // end of team
