// // Structure

// $base__space-unit: 1.5rem;

// // colors
// $color__background-body: #fff;
// $color__text-main: #404040;

// $color__background-screen: #f1f1f1;
// $color__text-screen: #21759b;

// $color__background-hr: #ccc;
// $color__background-pre: #eee;
// $color__background-ins: #fff9c0;
// $color__border-abbr: #666;

// $color__link: royalblue;
// $color__link-visited: purple;
// $color__link-hover: midnightblue;

// // typography
// $font__main: sans-serif;
// $font__code: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
// $font__pre: "Courier 10 Pitch", Courier, monospace;
// $font__line-height-body: 1.5;
// $font__line-height-pre: 1.6;

$fontsize: 16px;
$greenbrand: rgba(111, 143, 106, 0.76);
$buttoncolor: #378244;
$orangebrand: rgba(242, 144, 97, 0.17);
$headfont: 'Lora', serif;
$parafont: 'Lato', sans-serif;
