// $fontsize: 16px;
// $title_md: 28px;

// $greenbrand: rgba(111, 143, 106, 0.76);
// $buttoncolor: #378244;
// $greenbrand1: #6f8f6a;
// $buttoncolorgreen: #378244;
// $orangebrand: rgba(242, 144, 97, 0.17);
// $salmonbrand: #f29061;
// $greybackground: #dee3db;
// $bluebackground: #a3c9d6;
// $headfont: 'Lora', serif;
// $parafont: 'Lato', sans-serif;

// //color palletes
// $orangecolor: #e4936a;

//font-related
$fontsize: 1rem;
$title_md: 28px;
$title_sm: 24px;
$content_md: 20px;

$margin: 1rem;
$padding: 1rem;
$zdex: 0; //z-index
$font_weight_header: 600;
$font_weight_body: 100;

//spacing-related
$margin: 1rem;
$padding: 1rem;

//font-family
$headfont: "Lora", serif;
$parafont: "Lato", sans-serif;

//color-related

//primary color
$primary_green_dark: #296133;
$primary_green_med: #378244;
$primary_green_light: #378244;

//secondary color
$secondary_orange_dark: #f2804a;
$secondary_orange_med: #f29061;
$secondary_orange_light: #f6b292;

//neutral green
$neutral_green_dark: #5b7d56;
$neutral_green_med: #6f8f6a;
$neutral_green_light: #90c194;

//neutral gray
$neutral_gray_dark: #ccd1ca;
$neutral_gray_med: #dee3db;
$neutral_gray_light: #f2f7ef;

//neutral blue
$neutral_blue_dark: #97bbc7;
$neutral_blue_med: #a3c8d6;
$neutral_blue_light: #bbd7e0;
